<!--<h1>{{ title }}</h1>-->

<!-- <p>{{ names[0] }}</p>
<p>{{ names[1] }}</p>
<p>{{ names[2] }}</p> -->
<!--
<div *ngFor="let mobPart of mobParts">
  <div>Prod ID: {{ mobPart.id }}</div>
  <div>Prod Name: {{ mobPart.name }}</div>
</div>-->
<!-- nav.component.html -->
<app-nav></app-nav>
<!--/ nav.component.html -->

<!-- banner-one.component.html -->
<app-ban1></app-ban1>
<!--/ banner-one.component.html -->

<!-- products.component.html -->
<app-products></app-products>
<!--/ products.component.html -->

<!-- banner-two.component.html -->
<app-ban2></app-ban2>
<!--/ banner-two.component.html -->

<!-- contact-us.component.html -->
<app-contact></app-contact>
<!--/ contact-us.component.html -->

<!-- banner-three.component.html -->
<app-ban3></app-ban3>
<!--/ banner-three.component.html -->

<!-- footer.component.html -->
<app-footer></app-footer>
<!-- footer.component.html -->
